h1{
    color: white;
    text-align: center;
    
}
body{
    background-color: violet;
}

.cookie{
    display: flex;
    max-height: 100px;
}

.cookie-text{
    
    border: 2px solid yellow; 
    flex:1;
}

img{
    
    max-height: 500px;
    height: 70%;
    width: auto;
    border-color: purple;
    border-radius: 5%;
    border-width: 5%;
}